/* overlay styling */

#lean_overlay {
    position: fixed;
    z-index:900;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#simpleads-overlay-wrapper {
  display: none;
  position: fixed;
  z-index:11000;
}

#simpleads-overlay-wrapper p {
  padding: 1em;
  background:white;
}

#simpleads-overlay-wrapper #simpleads-overlay-close {
  background:url(close.png) left bottom no-repeat;
  width:20px;
  height:20px;
  overflow: hidden;
  cursor: pointer;
  text-indent:-9999px;
  position: absolute;
  top:-8px;
  right:-8px;
}